header{
    background-color: #ff6600;
    height: 40% ;
    width: 100% ;
}
section{
    margin: 50% ;
    height: 20% ;
    width: 100% ;
}
footer{
    background-color: #4c4c4c;
    height: 40% ;
    width: 100% ;
}