*{
    color: red;
}
.parableu
{
    color: blue;
}
#parared
{
    color: red;
}
.bleu
{
    color: blue;
}
p.vert
{
    color: green;
}
.vt{
    color: green;
}
.bord{
    border: 1px solid green;
}
a{
    color: red;text-decoration: none;
}
a:hover{
    color: green;text-decoration: underline;
}
a:visited{
    color: grey;
}
p:{
    font-family: Arial, Helvetica, sans-serif;
}
h1:{
    font-size: italic;
}
h2:{
    font-weight: bolder;
}